services:
  gold-price:
    build:
      context: ./gold-price
      dockerfile: Dockerfile
    container_name: gold-price
    ports:
      - "3001:3000"
    env_file:
      - ./gold-price/.env
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  vault-protector:
    build:
      context: ./vault-protector
      dockerfile: Dockerfile
    container_name: vault-protector
    ports:
      - "3002:3000"
    env_file:
      - ./vault-protector/.env
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  mongo_data:
  redis_data:
