# Dependencies
node_modules/

# Build output (Docker sẽ tự sinh)
dist/
build/

# Env
.env
.env.*

# Logs
logs/
*.log

# Git / IDE
.git
.gitignore
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Tests coverage
coverage/
.nyc_output/
